body{
	background-color: #000000;
	background-image: url(https://lh3.googleusercontent.com/kjfdsOHhjfLSJlOUaCljLd_qji_ZdnzvA-hwSbz4IsX8ylDJwdNsz2F6qQbGS2m337gxQ-1akg=w1440-h900-rw-no);
    	background-attachment: fixed;
    	background-repeat: no-repeat;
	background-size: 100%;
}

h1{
	text-align:center ;
	font-family: Arial ;
	color:black;
	font-size:35px;
}

h2{	
	text-align:center ;
	font-family: Arial;
	font-size:35px;
	color: black;
}

h3{	
	text-align:center ;
	font-family: Arial;
	font-size:35px;
	color: black;
}

h4{	
	text-align:center ;
	font-family: Arial;
	font-size:35px;
	color: black;
}
h5{	
	text-align:center ;
	font-family: Arial;
	font-size:35px;
	color: black;
}




