body{
	background-color: #000000;
	background-image: url(http://br.web.img2.acsta.net/medias/nmedia/18/84/77/28/20133672.jpg);
    	background-attachment: fixed;
    	background-repeat: no-repeat;
	background-size: 100%;
}

h1{
	text-align:center ;
	font-family: Arial ;
	color:white;
	font-size:35px;
}

h2{	
	text-align:center ;
	font-family: Arial;
	font-size:35px;
	color: black;
}

h3{	
	text-align:center ;
	font-family: Arial;
	font-size:35px;
	color: black;
}

h4{	
	text-align:center ;
	font-family: Arial;
	font-size:35px;
	color: black;
}
h5{	
	text-align:center ;
	font-family: Arial;
	font-size:35px;
	color: black;
}




